.App {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-header {
    margin: 1rem auto;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.5rem;
    width: 95%;
}
